<h2 class="page-header">Edit Director</h2>
<form action="/directors/<%=director.id %>?_method=PUT" method="POST">
	<%- include('_form_fields') %>
	<a href="/directors/<%=director.id %>" class="btn view-edit-btn">Cancel</a>
	<button type="submit" class="btn view-edit-btn">Update</button>
</form>
