<h2 class="page-header">New Movie</h2>
<form action="/movies" method="POST">
	<%- include('_form_fields') %>
	<div class="form-row form-row-end btn-row">
		<a href="/movies" class="btn danger-btn">Cancel</a>
		<button type="submit" class="btn view-edit-btn">Create</button>
	</div>
</form>
