.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.navbar-title {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--text-light);
	text-decoration: none;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.navbar ul li {
	list-style: none;
}

.navbar ul li a {
	text-decoration: none;
	color: var(--text-light);
	font-weight: 300;
	margin: 1rem;
}

.navbar ul li a:hover,
.navbar-title:hover {
	color: white;
}
